/** colors */
:root {
  --violet: 258 90% 66%;
  --violet-foreground: 0 0% 100%;
  --pure: 0 0% 100%;
  --pure-foreground: 0 0% 0%;
  --light-pure: 0 0% 89.8%;
  --light-pure-foreground: 0 0% 10.2%;
}
:root.dark {
  --pure: 0 0% 0%;
  --pure-foreground: 0 0% 100%;
  --light-pure: 0 0% 10.2%;
  --light-pure-foreground: 0 0% 90%;
}

/** height */
:root {
  --b-nav-height: 70px;
  --b-nav-logo-height: 48px;
  --b-toc-bar-height: 52px;
  --b-footer-height: 100px;
}

/** width */
:root {
  --b-max-width: 1400px;
  --b-drawer-width: 320px;
  --b-sidebar-width: 270px;
  --b-sidebar-expand-width: 270px;
  --b-sidebar-fold-width: 54px;
  --b-toc-width: 260px;
}

/** z-index */
:root {
  --b-toc-bar-z-index: 20;
  --b-nav-z-index: 30;
  --b-mask-z-index: 40;
  --b-aside-z-index: 50;
  --b-popover-z-index: 90;
  --b-search-box-z-index: 500;
  --b-search-box-gradient-z-index: calc(var(--b-search-box-z-index) + 10);
  --b-search-box-title-z-index: calc(var(--b-search-box-gradient-z-index) + 1);
}

/** transition */
:root {
  --b-transition-duration: 250ms;
  --b-transition-duration-slow: 500ms;
  --b-transition-duration-fast: 100ms;
  --b-transition-animation: ease;
}

/** background */
:root {
  --b-backdrop-bg-color: hsl(var(--pure-foreground) / 0.6);
}
:root.dark {
  --b-backdrop-bg-color: hsl(var(--pure) / 0.6);
}

:root {
  --b-animation-ease: cubic-bezier(0.19, 1, 0.22, 1);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --b-transition-duration: 0;
  }
}

/** b-content */
:root {
  --b-header-anchor-symbol: "#";
}

/** b-content code */
:root {
  --b-code-font-size: 0.875em;
  --b-code-line-height: 1.7;
  --b-code-color: hsl(var(--foreground));
  --b-code-bg: hsl(var(--muted) / 0.7);
  --b-code-link-color: hsl(var(--primary) / 0.9);
  --b-code-link-hover-color: hsl(var(--primary));
  --b-code-block-bg: hsl(var(--muted) / 0.3);
  --b-code-block-color: hsl(var(--foreground));
  --b-code-line-highlight-color: hsl(var(--muted));
  --b-code-line-error-color: hsl(var(--error) / 0.2);
  --b-code-line-warning-color: hsl(var(--warning) / 0.2);
  --b-code-line-diff-remove-color: hsl(var(--error) / 0.2);
  --b-code-line-diff-remove-symbol-color: hsl(var(--error));
  --b-code-line-diff-add-color: hsl(var(--success) / 0.2);
  --b-code-line-diff-add-symbol-color: hsl(var(--success));
  --b-code-block-divider-color: hsl(var(--border));
  --b-font-family-base: "Punctuation SC", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --b-font-family-mono: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  --b-code-line-number-color: hsl(var(--muted-foreground));
  --b-code-copy-code-border-color: hsl(var(--border));
  --b-code-copy-code-hover-border-color: hsl(var(--border));
  --b-code-copy-code-bg: hsl(var(--muted) / 0.3);
  --b-code-copy-code-hover-bg: hsl(var(--muted));
  --b-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
  --b-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");
  /** Align with b-icon-copy */
  --b-code-copy-code-active-text: rgba(128, 128, 128, 1);
  --b-code-copy-copied-text-content: "Copied";
  --b-code-lang-color: hsl(var(--muted-foreground) / 0.9);
}

/** custom-block */
:root {
  --b-custom-block-font-size: 14px;
  --b-custom-block-code-font-size: 14px;

  --b-custom-block-info-border: hsl(var(--muted));
  --b-custom-block-info-text: hsl(var(--foreground));
  --b-custom-block-info-bg: hsl(var(--muted) / 0.3);
  --b-custom-block-info-code-bg: hsl(var(--muted) / 0.1);

  --b-custom-block-note-border: hsl(var(--muted));
  --b-custom-block-note-text: hsl(var(--foreground));
  --b-custom-block-note-bg: hsl(var(--muted) / 0.3);
  --b-custom-block-note-code-bg: hsl(var(--muted) / 0.1);

  --b-custom-block-tip-border: hsl(var(--info));
  --b-custom-block-tip-text: hsl(var(--info));
  --b-custom-block-tip-bg: hsl(var(--info) / 0.1);
  --b-custom-block-tip-code-bg: hsl(var(--info) / 0.1);

  --b-custom-block-important-border: hsl(var(--violet));
  --b-custom-block-important-text: hsl(var(--violet));
  --b-custom-block-important-bg: hsl(var(--violet) / 0.1);
  --b-custom-block-important-code-bg: hsl(var(--violet) / 0.1);

  --b-custom-block-warning-border: hsl(var(--warning));
  --b-custom-block-warning-text: hsl(var(--warning));
  --b-custom-block-warning-bg: hsl(var(--warning) / 0.1);
  --b-custom-block-warning-code-bg: hsl(var(--warning) / 0.1);

  --b-custom-block-danger-border: hsl(var(--error));
  --b-custom-block-danger-text: hsl(var(--error));
  --b-custom-block-danger-bg: hsl(var(--error) / 0.1);
  --b-custom-block-danger-code-bg: hsl(var(--error) / 0.1);

  --b-custom-block-caution-border: hsl(var(--error));
  --b-custom-block-caution-text: hsl(var(--error));
  --b-custom-block-caution-bg: hsl(var(--error) / 0.1);
  --b-custom-block-caution-code-bg: hsl(var(--error) / 0.1);

  --b-custom-block-details-border: hsl(var(--muted));
  --b-custom-block-details-text: hsl(var(--foreground));
  --b-custom-block-details-bg: hsl(var(--muted) / 0.3);
  --b-custom-block-details-code-bg: hsl(var(--muted) / 0.1);
}

/** b-code-group */
:root {
  --b-code-tab-bg: hsl(var(--muted) / 0.3);
  --b-code-tab-divider: hsl(var(--border));
  --b-code-tab-text-color: hsl(var(--muted-foreground));
  --b-code-tab-hover-text-color: hsl(var(--foreground));
  --b-code-tab-active-text-color: hsl(var(--foreground));
  --b-code-tab-active-bar-color: hsl(var(--primary));
}

/** b-local-search-box */
:root {
  --b-local-search-bg: hsl(var(--background));
  --b-local-search-result-border: hsl(var(--border));
  --b-local-search-result-selected-bg: hsl(var(--light-pure));
  --b-local-search-result-selected-border: hsl(var(--border));
  --b-local-search-result-bg: hsl(var(--background));
  --b-local-search-highlight-bg: hsl(var(--primary));
  --b-local-search-highlight-text: hsl(var(--primary-foreground));
}
