/** height */
:root {
  --b-nav-height: 70px;
  --b-nav-logo-height: 48px;
  --b-toc-bar-height: 52px;
  --b-footer-height: 100px;
}

/** width */
:root {
  --b-max-width: 1280px;
  --b-drawer-width: 320px;
}

/** z-index */
:root {
  --b-toc-bar-z-index: 20;
  --b-nav-z-index: 30;
  --b-mask-z-index: 40;
  --b-aside-z-index: 50;
  --b-popover-z-index: 90;
}

/** transition */
:root {
  --b-transition-duration: 250ms;
  --b-transition-duration-slow: 500ms;
  --b-transition-duration-fast: 100ms;
  --b-transition-animation: ease;
}

:root {
  --b-animation-ease: cubic-bezier(0.19, 1, 0.22, 1);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --b-transition-duration: 0;
  }
}
