/** TODO replace vp-code after upgrading vitepress to 2.x **/
/** see https://github.com/vuejs/vitepress/blob/main/CHANGELOG.md#:~:text=vp%2Dcode%20class%20is%20no%20longer%20added%20to%20code%20blocks.%20Use%20.shiki%20or%20pre.shiki%20or%20%5Bclass*%3D%27language%2D%27%5D%20pre%20instead.%20People%20not%20customizing%20their%20themes%20are%20not%20affected. **/

.dark .vp-code span,
.twoslash-popup-code span {
  color: var(--shiki-dark, inherit);
}

html:not(.dark) .vp-code span,
html:not(.dark) .twoslash-popup-code span {
  color: var(--shiki-light, inherit);
}

.twoslash-popup-docs a {
  color: hsl(var(--primary));
  font-weight: 500;
  text-decoration: underline;
}
