.gt-container a {
  color: var(--color-primary-500);
}

.gt-container a:hover {
  color: var(--color-primary-400);
  border-color: var(--color-primary-400);
}

.gt-container .gt-svg svg {
  fill: var(--color-primary-500);
}

.gt-container .gt-spinner::before {
  border-top-color: var(--color-primary-500);
}

.gt-container .gt-btn {
  border-color: var(--color-primary-600);
  background-color: var(--color-primary-600);
}

.gt-container .gt-btn-preview {
  background-color: #fff;
  color: var(--color-primary-600);
}

.dark .gt-container .gt-btn-preview {
  background-color: var(--color-gray-900);
  border-color: var(--color-primary-500);
  color: var(--color-primary-500);
}

.gt-container .gt-btn-preview:hover {
  background-color: var(--color-gray-100);
  border-color: var(--color-primary-500);
}

.dark .gt-container .gt-btn-preview:hover {
  background-color: var(--color-gray-800);
  border-color: var(--color-primary-500);
}

.gt-container .gt-btn-public:hover,
.gt-container .gt-btn-login:hover {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
}

.gt-container .gt-error {
  text-align: center;
  margin: 0.625em;
  color: var(--color-primary-500);
}

.gt-container .gt-link {
  border-color: var(--color-primary-500);
}

.gt-container .gt-user .is--poping .gt-ico svg {
  fill: var(--color-primary-500);
}

.gt-container .gt-popup .gt-action.is--active:before {
  background: var(--color-primary-500);
}

.gt-container .gt-header-controls-tip {
  color: var(--color-primary-500);
}

.gt-container .gt-comment-username {
  color: var(--color-primary-500);
}

.gt-container .gt-comment-content {
  border-radius: var(--radii-md);
}

.dark .gt-container .gt-comment-content {
  background-color: var(--color-gray-800);
}

.dark .gt-container .gt-comment-body {
  color: var(--color-gray-50) !important;
}

.gt-container .gt-comment-content:hover {
  box-shadow: none;
}

.gt-container .gt-header-textarea {
  color: var(--color-gray-900);
}

.dark .gt-container .gt-header-textarea {
  color: var(--color-gray-50);
  border-color: var(--color-gray-700);
  background-color: var(--color-gray-800);
}

.dark .gt-container .gt-header-preview {
  color: var(--color-gray-50);
  border-color: var(--color-gray-700);
  background-color: var(--color-gray-800);
}

.gt-container .gt-popup {
  margin-top: var(--space-2);
  border-radius: var(--radii-md);
}

.dark .gt-container .gt-popup {
  border-color: var(--color-gray-700);
  background-color: var(--color-gray-800);
}

.dark a.is--active,
.dark a.is--active:hover {
  color: var(--color-gray-50);
}

.gt-container .gt-ico-github svg {
  fill: var(--color-gray-700);
}

.dark .gt-container .gt-ico-github svg {
  fill: var(--color-white);
}

.dark .gt-container .gt-copyright {
  border-color: var(--color-gray-600);
}

.dark .gt-container .gt-meta {
  border-color: var(--color-gray-600);
}

.gt-no-init {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
}